/* #firstP{
    vertical-align: middle;
} */
body{
    font-family: 'GFS Didot', serif;
    background-color: #061F3E;
    color:#e1e1e1;
}

.container{
    /* vertical-align: middle; */
    position: absolute;
    top:30vh;
    transform: translate(25vw, 0vh);
    width: 50%;
/* font-family: 'Syne Mono', monospace; */
}
#title{
    text-align: center;
    font-size: 3vw;
}
#intro{
    /* width:50%; */
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    width:80%;
}

a{
    text-decoration: none;
    color:#e1e1e1;
}
/* 2nd page */

#title2{
margin-top: 4vh;
margin-left: 4vw;
font-size: 3vw;
}
#date{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
    margin-top:35vh;
    letter-spacing: 0.4vw;
    /* transform: translate(0vw, 0vh); */
}